html {
    font-family: sans-serif;
  }

body {
  margin: 0px;
}
/*body {
    background: linear-gradient(180deg, rgba(62,25,88,1) 0%, rgba(0,0,0,1) 50%, rgba(62,25,88,1) 100%);
  }*/

/* UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.no-parallax {
  background-color: rgba(62,25,88,1);
  background-image: url(Images/mark-tegethoff-NbgQfUvKFE0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}

section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.parallax h1 {
  width: 60%;
  font-size: 2rem;
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://picsum.photos/1080/720');
  background-size: cover;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 5rem;
  color: #FFF;
  justify-content: space-between;
  margin: auto;
}

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding:0%;
    margin: 0%;
  }

.hiddenHover{ 
  display: none;
}
.hoverable:hover .hiddenHover{
  display : block;
}

.nav-links a {
  color: #fff;
}
  
/* LOGO */

.logo {
  font-size: 32px;
}

.logoimg {
  max-width: 25%;
  height: 100%;
  border-radius: 8px;
}
/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  z-index: 1;
}

.menu li:hover {
  background-color: rgba(62,25,88,1);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */

.services {
  position: relative; 
}

.dropdown {
  background-color: black;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: rgba(62,25,88,1);
}

.services:hover .dropdown {
  display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/

input[type=checkbox]{
  display: none;
} 

/*HAMBURGER MENU*/

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {

.menu { 
  display:none;
  position: absolute;
  background-color:teal;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
}

.menu li:hover {
  display: inline-block;
  background-color:#4c9e9e;
  transition: 0.3s ease;
}

.menu li + li {
  margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu{
  display: block;
}

.hamburger {
  display: block;
}

.dropdown {
  left: 50%;
  top: 30px;
  transform: translateX(35%);
}

.dropdown li:hover {
  background-color: #4c9e9e;
}
  
}


  